# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/razd

# Test binary
*.test
.ai-factory
# Output of go build
/bin/
.agents
# Go workspace file
go.work
go.work.sum

# Node.js
node_modules/
.apm_modules
package-lock.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Devbox
.devbox/


# APM dependencies
apm_modules/
